/*!
Template Name: Bitcoin Trade
Title: Bitcoin Trade - one page bootstrap website template bitcion website
Description: Bitcoin Trade a one page bootstrap website template suitable for creating your next bitcoin website.
Keyword: Bitcoin Trade bootstrap website template, one page bootstrap website template, cryptocurrency bootstrap website templates, bitcoin price bootstrap website template, bitcoin kurs bootstrap website template
Author URI: https://bootstrapwebtemplates.com/
Tags: bitcoin, bitcoin price, bitcoin kurs, onecoin, bitcoin mining, localbitcoins, ethereum, btc e, litecoin, free bitcoin, blockchain, coinbase, btc to usd, bitcoin miner, cryptocurrency, bitcoin wallet, bitcoin value, one page, onepage
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0
*/

/*----*****---- << Table of Contents >> ----*****----*/
/*
01. CSS RESET
02. GENERAL
03. FORMS & BUTTONS
04. NAVIGATION
05. HEADER
06. ABOUT
07. SERVICES
08. PORTFOLIO
09. TEAM
10. CONTACT
11. FOOTER
12. CONTACT

/* CSS RESET * -------------------------- */

* {margin: 0px; padding: 0px; box-sizing:border-box;}

/* GENERAL * -------------------------- */

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	overflow-x:hidden;
	color:#333;
	font-size:14px;
	
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #f39c12;
}
a:hover,
a:focus {
  color: #f39c12;
  text-decoration:none;
}
hr {
  width: 100%;
  margin: 20px 0;
  border-top:2px dashed #dedede;
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* CSS TOP MARGINS * -------------------------- */
.top-marg {margin-top:10px;}
.top-marg-2 {margin-top:15px;}
.top-marg-3 {margin-top:30px;}
.top-marg-4 {margin-top:40px;}
.top-marg-5 {margin-top:50px;}

/* FORMS & BUTTONS * -------------------------- */

.btn-box {
  color: white;
  border: 1px solid #f39c12;
  background:#f39c12;
}
.btn-box:hover,
.btn-box:focus,
.btn-box:active,
.btn-box.active {
  color: #f39c12;
  background-color: #fff;
  border-color: #fff;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}
.btn-xl {
  padding: 13px 20px;
    font-weight: bold;
    background-color: #f39c12;
    font-size: 17px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  outline: none;
  border:1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: 15px;
    line-height: 20px;
    height: 38px;
}
textarea{
	padding: 15px;
}

/* NAVIGATION* -------------------------- */

.navbar-default {  
    border-color: transparent;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-weight: 200;
    letter-spacing: 1px;
}
.navbar-default .nav{
  margin:25px 0 0 0;
}
.navbar-default .navbar-header .navbar-brand {
    height: auto;
    width: 260px;
    padding-top: 0; 
    padding-bottom: 0;
    margin-top: -2px;
}
.navbar-default .navbar-header .navbar-toggle {
   font-size: 24px;
    color: #000000;
    padding: 6px 11px;
    background: #f39c12;
    border-color: #f39c12;
    border-radius: 2px;
}

 .navbar-default .navbar-nav>li{
  padding-left: 25px;
  padding-right: 25px;
 }

.navbar-default .navbar-nav>li>a{
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding: 5px 0;
}
.navbar-default .nav > li > a.active{
  border-bottom: solid 1px #1632e1;  
}

.navbar-default .nav > li > a:hover{  
  border-bottom: solid 1px #FFF;
  color: #FFF;
}
,
.navbar-default .nav > li > a:focus{
  border-top: none;
  border-right:none;
  border-left: none;
}


.navbar-default .navbar-nav>li>a.menu_last{
    background-color: #FFF;
    border-radius: 25px;
    color: #1632e1;
    padding: 9px 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -2px;
    margin-left: 10px;
    /* box-shadow: 0px 2px 5px #888;---*/
    font-size: 17px;
}



#mainNav{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border-radius: 0;
    background-color: initial;
}
#particles-js{
  position: absolute;
  width: 100%;  
  height: 100%;
}

.stick {
    position: fixed !important;
    top: 0px;
    z-index:6;
    margin: auto;
    width: 100%;    
    -webkit-transition: display 1s ease;
    -moz-transition: display 1s ease;
    -o-transition: display 1s ease;
    -webkit-transition: width 2s;
    transition: width 2s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    background-color: rgba(255,255,255,1) !important;
}
.stick .navbar-brand>img{
  max-width: 154px;
    margin-top: 5px;
}

.stick .navbar-nav li a{
  color: #1632e1;
}
.stick .navbar-nav li a:hover{
  color: #1632e1;
  border-bottom: solid 1px #1632e1;
}


.biggest-avatar{
    position: absolute;
    bottom: 100px;
    right: 14.5%;
    max-width: 100%;
}


/* HEADER * -------------------------- */

/* what you can * -------------------------- */

.more_wrap{
  padding-top: 5px;
}
.viewmore{
    color: #FFF;
    font-weight: 500;
    font-size: 17px;
    background-repeat: no-repeat;
    text-align: center;
    width: 230px;
    height: 48px;
    display: inline-block;
    line-height: 46px;
    border: solid 1px #FFF;
    border-radius: 48px;
}
.viewmore img{
  margin-left: 15px;
  margin-top: -3px;
}
.viewmore:hover{
  color: #FFF;
}
/* what you can * -------------------------- */

/* solution * -------------------------- */
#solution{
    background-image: url(../images/solution-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 300px 0;
    color: #FFF;
    position: relative;    
}
#solution h2{
  font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.solution_left{
  text-align: center;
  padding-bottom: 30px;
}
.solution_left img{
  max-width: 100%;
  margin-top: 30px;
}
.solution_right{
  width: 100%;
  position: relative;
  padding-bottom: 30px;
      padding-top: 55px;
}
.solution_right b{
  font-size: 36px;
  font-weight: 500;
}
.solution_right p{
  font-weight: 100;
  font-size: 17px;
}
/* solution * -------------------------- */

/* tokens * -------------------------- */
#tokens{
    background-image: url(../images/tokens-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 260px 0 340px 0;
    background-size: cover;
    color: #FFF;
    position: relative;
}
#tokens h2{
  font-size: 48px;
  font-weight: 500;  
  margin-bottom: 60px;
}
#tokens img{
  max-width: 100%;
}
.tokens_child{
    background-image: url(../images/tokens-child-bg.png);
    background-repeat: no-repeat;
    color: #FFF;
    width: 100%;
    max-width: 607px;
    min-height: 585px;
    margin: auto;
    position: relative;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.tokens_child_nop1{
    background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 100px;
    left: 116px;
    line-height: 66px;
}
.tokens_child_nop2{
        background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 33px;
    left: 231px;
    line-height: 66px;
}
.tokens_child_nop3{
    background-image: url(../images/token-child3-icon.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 121px;
    position: absolute;
    top: 320px;
    left: 103px;
    line-height: 121px;
}
.tokens_child_nop4{
    background-image: url(../images/token-child4-icon.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 87px;
    position: absolute;
    top: 193px;
    right: 113px;
    line-height: 87px;
}
.tokens_child_nop5{
        background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 100px;
    right: 183px;
    line-height: 68px;
}
.tokens_child_nop6{
   background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 167px;
    left: 231.5px;
    line-height: 68px;
}
.tokens_child_nop7{
    background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 267px;
    right: 240.5px;
    line-height: 66px;
}
.tokens_child_nop8{
    background-image: url(../images/token-child1-icon.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 68px;
    position: absolute;
    top: 200px;
    left: 58px;
    line-height: 66px;
}
.tokens_child_nop9{
        background-image: url(../images/token-child9-icon.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 51px;
    position: absolute;
    bottom: 159px;
    right: 192px;
    line-height: 51px;
}

.tooltip.top {    
    margin-top: -10px;
    z-index: 999;
}
.tooltip-inner{
         background-color: #FFF;
    border-radius: 10px;
    border: solid 1px #fbfbfc;
    box-shadow: 1px 1px 10px #aaa;
    color: #404141;
    max-width: 280px;
    padding: 8px 20px 5px 20px;
    text-align: left;
    display: block;
    position: relative;
}
.tooltip-inner::after{
    width: 40px;
    height: 11px;
    bottom: -10px;
    border: none;
    background-repeat: no-repeat;
    z-index: 9999;
    content: url(../images/toolip-top-icon.png);
    margin-left: -20px;
    position: absolute;
    left: 50%;
  }

.tooltip.top .tooltip-arrow {
    display: none;
}

.token_info{
  position: relative;
    text-align: left;
    width: 100%;
    background-color: #FFF;
    color: #464646;
    font-size: 24px;
    padding: 25px;
    border-radius: 15px;
}
.token_info >b{
    color: #04cee2;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}
.token_info p{
    padding: 7px 15px;
    font-size: 18px;
    margin-bottom: 0;
}
.token_info p:nth-child(2n+1){
  background-color: #eff3f5;
}
.token_info p span{
  width: 40%;
    display: inline-block;
}
.token_info p b{
  font-weight: 500;
}
.token_info p.private_sale{
  background-color: #01d2e2;
    background-image: linear-gradient(to left, #5461e1 , #01d2e2);
    color: #FFF;
}
/* tokens * -------------------------- */

/* token * -------------------------- */
#funds{
     background-image: url(../images/funds-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 190px 0 120px 0;
    width: 100%;
    margin-top: -185px;
}
#funds h2{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #04cee2;
}
#funds img{ 
  max-width: 100%;
      margin-right: -100px;
}
.funds_child{
    font-size: 20px;
    font-weight: 200;
    padding-top: 35px;  
    color: #464646;  
}

#funds .funds_child img{ 
  margin-right: 15px;
}
.fund_p{
      color: #464646;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 27px;
}
/* token * -------------------------- */




/* roadmap * -------------------------- */
.bwt-roadmap{        
    position: relative;
    z-index: 1;    
    /*padding-top: 0; ---*/
}
.roadmap_wrap{    
    color: #2f2f2f;
    position: relative;
    z-index: 1;
    background: url(../images/road_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 135px;
}

.bwt-roadmap h2{
  font-size: 48px;
    margin: 50px 0 90px 0;
    color: #04cee2;
    font-weight: 700;
}

.roadmap_child{
  display: block;
  width: 100%;
  position: relative;  
  background-repeat-y: repeat;
  background-repeat: repeat-y;
  background-position: center top;  
  padding-bottom: 45px;
  background-image: url(../images/road-bg-child.png);  
  background-position: center top;
}
.roadmap_left{
  width: 55%;  
  position: relative;
}


.roadmap_left b{
    color: #004ade;
    font-size: 30px;
    float: right;
    width: 73px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/thuoc-blue-icon.png);
    margin-right: 17px;
}

.roadmap_left p{
    float: right;
    width: 48%;
    text-align: right;
    margin-right: 6%;
    position: relative;
    border: solid 1px #e1e3e5;
    padding: 18px 20px 30px 15px;
    border-radius: 14px;
    font-size: 17px;
    color: #2f2f2f;
    font-weight: 100;
    margin-top: -22px;
    box-shadow: 1px 1px 10px #e1e3e5;
    background-color: #FFF;
}
.roadmap_left p::before{
    content: url(../images/road-left-right.png);
    width: 16px;
    height: 29px;
    position: absolute;
    right: -16px;
    top: 20px;
}

.roadmap_left p i{
    font-size: 20px;
    color: #004ade;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;   
}
.roadmap_left p span{
  color: #04cee2;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 5px;
}


.roadmap_right{
  width: 55%;
  float: right;
  position: relative;
}
.roadmap_right b{
    color: #004ade;
    font-size: 24px;
    float: left;
    width: 76px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/thuoc-blue-icon.png);
    margin-left: 24px;
    margin-top: 20px;
}
.roadmap_right p{
    float: left;
    width: 48%;
    text-align: left;
    position: relative;
    border: solid 1px #e1e3e5;
    padding: 18px 10px 30px 15px;
    border-radius: 14px;
    font-size: 17px;
    color: #2f2f2f;
    font-weight: 100;
    margin-top: 0px;
    box-shadow: 1px 1px 5px #e1e3e5;
    margin-left: 4%;
    background-color: #FFF;
}
.roadmap_right p::before{
    content: url(../images/road-right-left.png);
    width: 11px;
    height: 32px;
    position: absolute;
    left: -11px;
    top: 17px;
}

.roadmap_child b.b_check_red{
    background-image: url(../images/thuoc-red-icon.png) !important;
}

.roadmap_right p i{
    font-size: 20px;
    color: #004ade;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;  
}
.roadmap_right p span{
    color: #04cee2;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 5px;
}

.road_last{
  text-align: center;
  margin-top: -5px;
}

/* roadmap * -------------------------- */



header {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden; 
  color: white;
  background-image:url('../images/slide-bg.png');
  background-size: cover;
  padding-bottom: 350px;
}
.what_you{
  width: 100%;
  position: relative;
  padding-top: 150px;
}
.what_you h1{
  font-size: 43px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 10px;
}
.what_you span{
  font-size: 38px;
  font-weight: 200;
}
.what_you p{
    font-size: 18px;
    margin-top: 30px;
    font-weight: 100;
}






.carousel-caption{
  text-align: left;
  top: 25%;
  left: 10%;
}
.carousel-caption h1{
    color: #f39c12;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-caption h2{
    font-size: 28px;
    color: #FFF;
    margin-bottom: 35px;
}

.bwt-click-to-bottom {
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    text-align: center;
}
.bwt-click-to-bottom i {
    color: #fff;
    padding: 20px 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 15px;
    background: #f39c12;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}



section {
  padding: 60px 0;
}
section .bwt-section-title {
    font-size: 55px;
    margin: 15px 0 25px 0;
    color: #FFF;   
    font-weight: 100; 
}


section h3{
  font-size:24px;
  text-transform:uppercase;
  margin: 15px 0 0 0;
}


/* listing * -------------------------- */
#listing{
  width: 100%;
  position: relative;
  padding: 80px 0;
  border-bottom: solid 2px #efeff0;
  text-align: center;
}
#listing h3{
  color: #04cee2;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
#listing a{
    display: inline-block;
    border: solid 1px #efefef;
    border-radius: 40px;
    padding: 0 30px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 30px -3px #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
/* listing * -------------------------- */

/* media * -------------------------- */
#media{
  width: 100%;
  position: relative;
  padding: 50px 0 5px 0;  
  text-align: center;
}
#media h3{
  color: #04cee2;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
/* media * -------------------------- */




/* how-it-works * -------------------------- */
.how-it-works{
  background-image: url(../images/doctor-av.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #2f2f2f;  
  padding-top: 45px;
  padding-bottom: 150px;
  font-size: 18px;
  margin-bottom: -120px;
  position: relative;
}

.mdiacin_left{
  width: 394px;
  height: 686px;
  background-repeat: no-repeat;
  background-image: url(../images/thuoc-bg.png);  
  position: absolute;
    top: -225px;
    left: 0;
}
.eath__list {
    list-style-type: none;
}
.eath__dot {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;    
    left: 0;
    -webkit-animation: bubl;
    animation: bubl;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.eath__dot_1 {
    top: 61px;
    left: 19px;
}
.eath__dot_2 {
    top: 104px;
    left: 127px;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    width: 25px;
    height: 25px;
}
.eath__dot_3 {
    top: 169px;
    left: 76px;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    width: 35px;
    height: 35px;
}
.eath__dot_4 {
    top: 265px;
    left: 43px;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    width: 35px;
    height: 35px;
}
.eath__dot_5 {
    top: 422px;
    left: 72px;
}
.eath__dot_6 {
    top: 364px;
    left: 218px;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.eath__dot_7 {
    top: 421px;
    left: 166px;
    width: 40px;
    height: 40px;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.eath__dot_8 {
    width: 35px;
    height: 35px;
    top: 485px;
    left: 214px;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
}
.eath__dot_9 {
    top: 409px;
    left: 318px;
}
.eath__dot_10 {
    top: 517px;
    left: 350px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.eath__dot_11 {
    top: 528px;
    left: 137px;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
}
.eath__dot_12 {
    top: 547px;
    left: 253px;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

bubl{
  0%{
    -webkit-transform:scale(0);transform:scale(0);opacity:0
  }
  10%{}
  20%{}
  30%{}
  40%{opacity:.6}
  50%{}
  60%{opacity:1}
  70%{}
  80%{}
  90%{}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes bubl{
  0%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
  10%{}
  20%{}
  30%{}
  40%{opacity:.6}
  50%{}
  60%{opacity:1}
  70%{}
  80%{}
  90%{}
  100%{
    -webkit-transform:scale(1);transform:scale(1);opacity:0}
}

/*about--------------------------------*/


/*count down---------------------------*/
.h_countdown{
    width: 100%;
    position: relative;
    margin-top: 120px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 24px;
    color: #FFF;
     max-width: 391px;
     min-height: 500px;
}
.h_countdown_child{
    width: 100%;
    padding: 0 2px 0 2px;
    text-align: center;
}
.h_countdown_child h4{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #7f868b;
    padding: 20px 20px 15px 20px;
    margin-bottom: 10px;
}
.count_des{
    text-align: center;
    padding: 10px;
}
.count_des img{
  margin-right: 8px;
}
.count_w{
  padding: 10px 0 0 0;
  padding: 0 30px 0 30px;
  font-size: 16px;
}
.count_w p{
    display: inline-block;
    width: 100%;
    margin-right: 5px;
    position: relative;
    text-align: center;
    max-width: 65px;
    margin-left: 5px;
    margin-bottom: 12px;
}
.count_w span{
    font-size: 30px;
    font-weight: bold;
    display: block;
    border: solid 2px #303d44;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.count_w i{
  font-style: normal;
}
.h_countdown_child button{
    background-color: #ffd501;
    padding: 3px;

    border: solid 1px #02111e;
    font-weight: bold;
    font-size: 28px;
    background: linear-gradient(to bottom right, #ffdf00 , #ff7102);
    box-shadow: 0px 0px 0px 1px #000;
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    color: #f7120d;
    max-width: 65%;
    width: 100%;
}
.sold{
    padding: 0px 0px 0px 0px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.sold img{
  vertical-align: -28px;
  margin-right: 10px;
}


.how-it-works h2{
  font-size: 48px;
  color: #04cee2;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}
.how_it_word_child{
    width: 100%;
    max-width: 680px;
    position: relative;
    margin: auto;
    clear: both;
    padding-top: 50px;
}
.it_word1{
  float: right;
}
.it_word2{
  
}
.it_word3{
  float: left;
}
.how_it_word_child img{
  float: left;
    box-shadow: 6px 7px 15px -1px #ccc;
    border-radius: 15px;
    max-width: 280px;
    margin-left: 30px;
}
.how_it_word_child p{
  width: 49%;
    float: right;
}
.how_it_word_child p b{
  display: block;
    color: #004ade;
    font-size: 35px;
    font-weight: 600;
}
.how_it_word_child p strong{
  color: #04cee2;
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    max-width: 240px;
}
.how_it_word_child p span{
  display: block;
  margin-top: 15px;
}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
/* how-it-works * -------------------------- */

/* board * -------------------------- */
#board{
  width: 100%;
    position: relative;
    text-align: center;
    font-size: 24px;
    background-image: url(../images/board-bg.png);
    background-size: cover;
    padding: 40px 0 90px 0;
}
#board h2{
        color: #04cee2;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 80px;
}
#board a{
  display: inline-block;
  position: relative;
  width: 23%;
  margin-right: 1%;  
}
#board a img{
  max-width: 100%;
}
#board a span{
    display: block;
    margin-top: -20px;
}
#board a b{
    display: block;
    color: #464646;
    margin: 11px 0 15px 0; 
    font-weight: 100;  
}
#board a i{
    display: block;
    font-style: normal;
    font-size: 14px;
    color: #004ade;
    font-weight: 500;
}
/* board * -------------------------- */

/* faq * -------------------------- */
#faq{
    color: #FFF;
    padding: 115px 0 380px 0;
    margin-bottom: -150px;
    background-image: url(../images/faq-bg.png);
    background-size: cover;
}
#faq h2{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 70px;
}
.frequently_child{
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    padding: 20px 20px 10px 65px;
    margin-bottom: 20px;
    vertical-align: top;
    background-color: rgba(0,74,222, 0.66);
    border: solid 2px #03e6fd;
}
.frequently_child_plus{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 20px; 
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 300;
}
.frequently_child_plus:after {
    content: '\002B';
    color: #FFF;
    float: left;
    margin-left: -44px;
    font-size: 50px;
    font-weight: 100;
    margin-top: -37px;
    margin-bottom: 0;
}
.frequently_child_plus.active:after {
    content: "\2212";
    color: #FFF;
}


.frequently_child_show{  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; 
}

/* faq * -------------------------- */

/* faq * -------------------------- */
#team{    
    color: #464646;
    padding: 75px 0 40px 0;    
}
#team h2{    
    color: #04cee2;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 80px;
}
.our_ad_child{
  width: 43%;
  margin-right: 2%;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}
.our_ad_child_left{
    width: 44%;
    display: inline-block;
    position: relative;
    margin-right: 5%;
}
.our_ad_child_left img{
  max-width: 100%;
}
.our_ad_child_left a{
    position: absolute;
    top: 30px;
    right: 15px;  
}

.our_ad_child_right{
    width: 50%;
    display: inline-block;
    position: relative;
    padding-top: 35px;
    vertical-align: top;
    text-align: left;
}
.our_ad_child_right b{
  display: block;
  font-size: 24px;
  font-weight: 100;
}
.our_ad_child_right span{
      display: block;
    font-size: 14px;
    color: #f92f07;
    font-weight: 500;
    margin: 5px 0 10px 0;
}
.our_ad_child_right p.our_social{
  background-color: #82dcef;
  height: 1px;
}

.our_ad_child_right p{
     color: #404141;
    font-size: 14px;
    font-weight: 100;
    max-width: 215px;
}
/* our_advisors * -------------------------- */


/*-- login --*/

.model_login{
  max-width: 390px;
}

.model_login .modal-content{
  border-radius: 8px;  
}

.model_login .modal-header{
    background-image: url(../images/bg-reg.png);
    background-repeat: repeat-x;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}
.model_login .modal-title{
  text-align: center;
}
.model_login .modal-title img{
    max-width: 120px;
    margin: auto;
}
.model_login .modal-body{
  padding: 15px 30px 15px 30px;
}
.model_login .modal-body p a{
  color: #025887;
  font-style: italic;  
}
.model_login .modal-body p{
  font-size: 14px;
}


.model_login .modal-footer{
    padding: 0 10px 30px 10px;
    text-align: center;
    border-top: initial;
}
.model_login .modal-footer button{
  border: none;
}
.model_login .modal-body input[type='text'], .model_login .modal-body input[type='password']{
	border: none;
    background-color: #efefef;
    width: 100%;
    padding: 10px 15px;
    height: auto;
    margin-bottom: 5px;
}
/*-- login --*/

/*-- register --*/
.model_reg{
  max-width: 744px;
}
.model_reg .modal-content{
  border-radius: 8px;  
}
.model_reg .modal-header{
    background-image: url(../images/bg-reg.png);
    background-repeat: repeat-x;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}
.model_reg .modal-title img{
    max-width: 120px;    
}
.model_reg .modal-title a.signInReg{
    float: right;
    color: #FFF;
    margin-top: -24px;
    font-size: 12px;
    text-decoration: underline;
}


.model_reg .modal-body{
  padding: 15px 30px 15px 30px;
}
.model_reg .modal-body p a{
  color: #025887;
  font-style: italic;  
}
.model_reg .modal-body p{
  font-size: 14px;
}


.model_reg .modal-footer{
    padding: 0 10px 30px 10px;
    text-align: center;
    border-top: initial;
}
.model_reg .modal-footer button{
  border: none;
}
.model_reg .modal-body input[type='text'], .model_reg .modal-body input[type='password'], .model_reg .modal-body input[type='email']{
	border: none;
    background-color: #efefef;
    width: 100%;
    padding: 10px 15px;
    height: auto;
    margin-bottom: 5px;
}
.reg_left{
	width:48%;
	float:left;
}
.reg_right{
	width:48%;
	float:right;
}
.reg_right p img{
	max-width:200px;
}
/*-- register --*/









/* FOOTER * -------------------------- */
.telegram_right{
  position: fixed;
  right: 20px;
  bottom: 5%;
}

section.bwt-contact{ 
	 width: 100%;
    color: #FFF;
    padding: 30px 0 0 0;
    font-size: 18px;
    margin-top: -330px;
    border-top: solid 1px rgba(11,255,255,0.68);
}

.f_address{
  width: 100%;
  position: relative;
}
.f_address img{
    margin-bottom: 20px;
}
.f_address p{
  line-height: 35px;
}

.f_download_app{
    text-align: right;
    padding-right: 40px;
    padding-top: 80px;
    font-size: 18px;
    font-weight: 200;
}
.f_download_app img{
  margin-top: 20px;
}


.copyright{
	  text-align: left;
    margin-top: 35px;
    background-color: #004ade;
    padding: 45px 0 25px 0;
    line-height: 30px;
    color: rgba(255,255,255,0.51);
}

.copyright a{
	display: inline-block;
	margin-right:12px;
}
.copyright a img{
  max-width: 34px;
}
.f_email{
  width: 100%;
  position: relative;
  font-size: 20px;
  color: #FFF;
  text-align: left;
}
.f_email b{
  display: inline-block;
}
.f_email input[type='text']{
    font-size: 18px;
    background: initial;
    border: none;
    color: #FFF;
    text-align: center;
    background-image: url(../images/your-email-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 295px;
    background-position: center bottom;
    padding-bottom: 10px;        
    margin-top: -14px;
    font-weight: 100;
    float: right;
    margin-right: 40px;
}
section.bwt-contact input[type="text"]::-webkit-input-placeholder, 
section.bwt-contact input[type="email"]::-webkit-input-placeholder, 
section.bwt-contact textarea::-webkit-input-placeholder{
  color: #FFF;
}
section.bwt-contact input[type="text"]::-moz-placeholder, 
section.bwt-contact input[type="email"]::-moz-placeholder, 
section.bwt-contact textarea::-moz-placeholder{
  color: #FFF;
}
section.bwt-contact input[type="text"]::-ms-input-placeholder, 
section.bwt-contact input[type="email"]::-ms-input-placeholder, 
section.bwt-contact textarea::-ms-input-placeholder{
  color: #FFF;
}
section.bwt-contact input[type="text"]::-moz-placeholder, 
section.bwt-contact input[type="email"]::-moz-placeholder, 
section.bwt-contact textarea::-moz-placeholder{
  color: #FFF;
}

.f_submit{
    width: 190px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    color: #FFF;
    background-color: initial;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    float: right;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -13px;
    border: solid 1px #FFF;
    border-radius: 30px;
}
/* RESPONSIVE * -------------------------- */

@media (max-width: 1024px) {
  .navbar-default .nav > li > a {
      padding: 6px 12px 6px 12px;
  }
  .navbar-default .navbar-header .navbar-brand{
        width: 190px;
      margin-top: -4px;
  }
  .roadmap_left p {      
      width: 68%;      
      margin-right: 30%;      
      margin-top: -60px;      
  }
  .roadmap_right p {    
    width: 68%;    
    margin-top: -60px;   
    margin-left: 30%;
  }

  header {
      min-height: 90%;
  }
  header .bwt-header-content {
      height: 80vh;
  }
  .f_email{
    font-size: 22px;
  }
  .road_last{
    margin-left: -1px;
  }
}



@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .what_you{
    padding-top: 125px;
  }
  .what_you img.biggest-avatar{
    width: 100%;
    margin: 10px 0;
  }
  .mdiacin_left{display: none;}
  .it_word1, .it_word3{
    float: initial;
  }
  #solution{
    padding: 110px 0 150px 0;
  }
  .solution_right p{
    text-align: justify;
  }
  .biggest-avatar{
    bottom: 0;
  }
  .roadmap_left b{
        margin-right: -3px;
  }
  .roadmap_right b{
        margin-left: 3px;
  }
  .tokens_child_nop4{
    left: 391px;
    top: 190px;
  }
  .tokens_child_nop5{
    right: 182px;
  }
  .tokens_child_nop6{
    right: 118.5px;
  }
  .tokens_child_nop7{
    right: 239.5px;
    top: 267px;
  }
  .navbar-default .nav > li > a{
    color: #FFF;
  }


.navbar-default .navbar-header .navbar-brand {
    width: 150px;
}
.navbar-default .navbar-header .navbar-toggle {
    margin: 18px 0 0 0;
    padding: 2px 10px 2px 10px;
    background-color: red;
    color: #FFF;
    border-color: red;
}

.our_ad_child {
    width: 100%;
    margin-right: 0;
}
.frequently_child_plus:after{
  margin-top: -9px;
  font-size: 30px;
}

.bwt-roadmap{
  margin-top: 0;
  padding-top: 0;
}
.tokens_child_nop9{
      top: 408px;
    right: 134px;
}
#funds img.fund_avatar{
  width: 100%;
  margin-right: 0;
}
.fund_p{
  padding-left: 0;
}
.our_ad_child_left a{
  top: -10px;
    left: 15px;
}
#board a{
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
#listing a{
  width: 100%;
  margin-left: 0;
    margin-right: 0;
}
header {
    min-height: auto;
	background-size: cover;
}
#mainNav{
  background-color: rgba(0,0,0,0.7);
    padding-bottom: 10px;
}
.navbar-default .navbar-nav>li>a.menu_last{
  margin-top: 5px;
}


header .bwt-header-content {
    height: 60vh;
}
.navbar-default .navbar-header .navbar-brand {
    font-size: 36px;
    line-height: 25px;
}
.navbar-default.affix .navbar-header .navbar-brand {
    line-height: 25px;
}
.navbar-default {
    background-color: rgba(0,0,0,1);
}
header .bwt-header-content .bwt-header-content-inner h1 {
    font-size: 50px;
}
header .bwt-header-content .bwt-header-content-inner h2 {
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0;
}
section {
    padding: 80px 0;
}

section .bwt-section-title {
    font-size: 36px;
}
section h3 {
    font-size: 20px;
}

.carousel-caption h1 {
    font-size: 40px;
}
.carousel-caption h2 {
    font-size: 18px;
}

.md-top-marg{
	margin-top:20px;
}
.roadmap_right p b,.roadmap_left p b{
  font-size: 16px;
} 

.roadmap_left p, .roadmap_right p{
  width: 65%;
}

.copyright{padding: 20px 0 18px 0;}
.copyright span{display: block; margin-bottom: 10px;}
.copyright a{
  float: initial;
    margin-left: 0;
    margin-right: 10px;

}
#listing{
  padding: 30px 0;
}
.funds_child{
  font-size: 20px;
}
  .stick{
    position: absolute !important;
  }
  #faq {    
    padding: 230px 0 480px 0;    
  }
  section.bwt-contact{
    margin-top: -460px;
  }
  .f_download_app{
    text-align: left;
    padding-top: 10px;
  }
  .f_email b{
    display: block;
    margin: 10px 0;
  }
  .f_email input[type='text']{
    width: 100%;
    margin-right: 0;
  }
  .f_submit{
    margin-top: 15px;
    float: left;
  }

}


@media (max-width: 480px) {
	.what_you h1 {
    font-size: 30px;    
    margin-top: 0;    
  }
  .what_you span {
    font-size: 24px;    
  }
  .what_you p{
    font-size: 16px;
  }

  #media h3, .how-it-works h2, .how_it_word_child p b, .bwt-roadmap h2, #solution h2, #funds h2, #team h2, #faq h2, #listing h3, #board h2{
    font-size: 30px;
  }
  .how_it_word_child p strong, .solution_right b{font-size: 20px;}
  #tokens h2{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .our_ad_child_right p{
    max-width: 100%;

  }
  .our_ad_child_left a {
    top: -20px;
    left: 15px;
  }
  #tokens{
    padding: 100px 0 180px 0;
  }
  .how-it-works{
        background-image: initial;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
  }

  .how_it_word_child img, .how_it_word_child p{
    width: 100%;
  }
  .roadmap_child{
    padding-bottom: 20px;
  }
  .roadmap_right b {
    margin-left: -15px;
}
  .roadmap_left b {
    margin-right: -22px;
}
  .roadmap_left p i, .roadmap_left p span, .roadmap_right p i, .roadmap_right p span{
    font-size: 15px;
  }
  .roadmap_left p, .roadmap_right p{
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: initial;
    box-shadow: initial;
  }
  .roadmap_left p::before, .roadmap_right p::before{
    content: '';
  }
  .roadmap_right p{
    margin-top: -54px;
  }
  .roadmap_left p{
    margin-top: -54px;
  }
  .roadmap_left p, .roadmap_right p {
    width: 75%;
}

  .biggest-avatar{
    position: initial;
    max-width: 100%;
    margin-top: 20px;
  }

  .tokens_child{
    background-image: initial;
  }
  


  .our_ad_child_left, .our_ad_child_right{
    width: 100%;
    text-align: center;
  }
  .frequently_child_plus:after {
    margin-top: -39px;    
  }

  .tokens_child_nop1{
    left: 62px;
  }
  .tokens_child_nop2{
    top: 146px;
    left: 192px;
  }
  .tokens_child_nop3{
    left: 169px;
  }

  .tokens_child_nop4{
    bottom: 170px;
    left: 50px;
  }
  .tokens_child_nop5 {    
    top: 72px;
    right: 4px;   
  }
  .tokens_child_nop6{
    top: 255px;
    right: 196px;
  }
  .tokens_child_nop7{
    bottom: 85px;
    right: 195px;
  }
  .tokens_child_nop8{
        left: 189px;
  }
  .tokens_child_nop9 {    
    right: 20px;
  }

  .tokens_child_nop1, .tokens_child_nop2, .tokens_child_nop3, .tokens_child_nop4, .tokens_child_nop5, .tokens_child_nop6, 
  .tokens_child_nop7, .tokens_child_nop8, .tokens_child_nop9{
    position: initial;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .tooltip-inner{
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
  }

  .carousel-caption h1 {
    font-size: 16px;
  }

  .carousel-caption h2 {
      font-size: 10px;
      margin-bottom: 20px;
      margin-top: 0;
  }
  header {
      padding-bottom: 60px;
  }
  header .bwt-header-content .bwt-header-content-inner h1 {
      font-size: 30px;
  }
  header .bwt-header-content .bwt-header-content-inner h2 {
      font-size: 14px;
  }
  section .bwt-section-title {
      font-size: 30px;
  }
  section h3 {
      font-size: 18px;
  }


  .btn-xl {
      padding: 5px 10px;
      font-size: 11px;
      letter-spacing: 0;
  }
  .bwt-click-to-bottom i {
      padding: 10px 10px;
  }
  .status_chound, .status_btn{
  	width:100% !important;
  }
  
  .bwt-ico h2{
    font-size: 120%;
  }
  .reg_right p img{
  	max-width:100%;
  }
  
  section.bwt-contact{
    padding-bottom: 0;
  }
  .navbar-default .navbar-header .navbar-toggle {
      margin: 18px 10px 0 0;      
  }
  .slick-next{
    right: 0 !important;
  }
  .slick-prev{
    left: 0 !important;
  }

}

